<form class="form-horizontal" action="#/create" method="post">
    <fieldset>
        <legend>Създаване на нова тема</legend>

        <div class="form-group">
            <label class="col-sm-4 control-label">Тема:</label>
            <div class="col-sm-4">
                <input type="text" name="topics" class="form-control" id="inputTopic">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Автор:</label>
            <div class="col-sm-4">
                <input type="text" name="creator" class="form-control" id="inputCreator">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                <button type="reset" class="btn btn-default">Изчисти полетата</button>
                <button type="submit" class="btn btn-primary">Създаване</button>
            </div>
        </div>
    </fieldset>
</form>