<footer>
    <div class="navbar-default footer-copyright py-3 text-center navbar-fixed-bottom">
        <span id="makeBy">Изработил: &ensp;</span><span id="myName">Ивайло Иванов</span>
    </div>
</footer>