{{> header}}
<main>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <img src="./image/1499944823_LogoTU_N.png"  alt="Ty-gab logo" class="img-responsive"/>
        </div>
    </div>
</main>
{{> footer}}